{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans 'Sign Out' %}{% endblock %}
{% block content %}
<!-- Main container for page content : User Log Out / Sign Out -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card-body">
        <!-- Page title -->
        <h2 class="card-title">{% trans 'Sign Out' %}
        </h2>
        <p class="card-text">
          {% trans 'Are you sure you would like to Sign Out?' %}
        </p>
      </div>
    </div>
  </div>
  <!-- Container for logout form -->
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card-body">
        <form action="{% url 'account_logout' %}" class="logout" method="POST">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
                 type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}"
                 />
          {% endif %}
          <!-- Button to confirm user would like to logout -->
          <button class="btn btn-style right" type="submit">
            {% trans 'Sign Out' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}