@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

/* || GENERAL STYLES */

body,
html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    font-family: 'Roboto Flex', 'Roboto Condensed', sans-serif;
    font: 1rem;
    font-weight: 400;
    color: #100303;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0.5rem;
}

form {
    margin-top: 0rem!important;
}

.btn {
    margin-top: 1.5rem;
}

.btn-style {
    background-color: #00ffc6;
    color: #100303;
}

.btn-style:hover,
.btn-style:active {
    background-color: #fff;
    color: #100303;
    border: 1px solid #00ffc6;
}

.anchor-btn {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background-color: #00ffc6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #100303;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.btn-style:hover {
    background-color: #fff;
    color: #100303;
    border: 1px solid #00ffc6;
}

/* || NAVBAR STYLES */

nav {
    background-color: #100303;
    min-height: 4rem;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 1.75rem;
}

.navbar-brand-image {
    margin-right: 0.625rem;
}

.navbar-toggler {
    display: inline-flex;
}

.nav-menu-header {
    text-transform: uppercase;
    font-size: 1rem;
    color: #00ffc6;
}

.nav-menu-list {
    padding-inline-start: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;   
}

.navbar-dark .navbar-nav .nav-link :hover {
    color: #00ffc6!important;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
}

a.nav-link:hover,
.nav-link:hover,
a:hover {
    color: #00ffc6;
}

.navbar-user-icon {
    font-size: 1.75rem;
    color: rgba(255,255,255,.5);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    border: none;
}

#navbarUserMenu .navbar-nav {
    text-align: right;
}


/* || HOMEPAGE MAIN CONTENT STYLES  */

.main-content {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.card {
    border: none;
}

a.post-link {
    color: #312e2e;
}

.post-link:hover {
    color: #79ffe2;
    text-decoration: underline;
}

.fa-heart:before {
    color: #00ffc6;
}

.card-title {
    font-family: 'Roboto Condensed';
    font-size: 1.875rem;
    font-weight: 700;
    color: #100303;
}

.card-subtitle {
    font-family: 'Roboto Condensed';
    font-size: 1.25rem;
    font-weight: 600;
}

.author {
    color: #312e2e;
    text-transform: uppercase;
}

.card-text {
    color: #100303;
}

.card-body {
    padding: 1.25rem 1.25rem;
}

.border-bottom {
    border-bottom: 1px solid #79ffe2!important;
}

.blog-img-div {
    max-width: 15rem;
}

.img-fluid {
    object-fit: contain;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

.page-navigation {
    background-color: #fff;
    min-height: 3rem;
    margin-top: 2rem;
}

ul.pagination {
    margin-bottom: 0;
}

.page-link {
    color: #100303;
    border-radius: 0.25rem;
}

.page-link:hover {
    color: #100303;
    background-color: #00ffc6;
    transition: 3ms ease-in-out;
}

/* || FOOTER STYLES  */

footer {
    background-color: #100303;
    color: #fff;
}

.footer-div {
    padding: 2rem 1rem;
}

.footer-header {
    text-transform: uppercase;
    font-size: 1rem;
    color: #00ffc6;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

a.footer-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.footer-link:hover {
    color: #00ffc6;
}

.footer-copyright {
    display: contents;
    text-align: left;
    color: #f7f7f77f;
}

/* || POST DETAIL STYLES  */

.post-img-div {
    max-width: 35rem;
}

.col-sm-2 {
    width: auto;
}

button.btn-like {
    color: #00ffc6;
    border: none;
    background: transparent;
}

button.btn-like:hover,
button.btn-like:active {
    color: #00ffc6;
    border: none;
    background: transparent;
}

.fa-solid, .fas,
.fa-regular, .far {
    margin-right: 0.5rem;
}

.comments-div {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
}

textarea.form-control {
    border: 1px solid #ced4da!important;
}


/* || SIGN UP & SIGN IN STYLES  */

.form-control {
    border: none;
}

a.link {
    font-weight: 600;
    color: #100303;
    text-decoration: underline;
    text-decoration-color: #00ffc6;
}

a.link:hover {
    background-color: #00ffc6;
}

input#id_login {
    background-color: #a8fbe9!important;
}

ul.errorlist.nonfield {
    text-align: center;
    background-color: #00ffc6;
    list-style-type: none;
    padding-inline-start: 0;
}


/* |||| MEDIA QUERIES  */

/* Small devices (smartphones, up to 767px) */
@media (max-width: 767px) {

    /* || NAVBAR STYLES  */
    .navbar>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    
    /* || HOMEPAGE MAIN CONTENT STYLES  */
    .main-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .col-sm-10 {
        padding-left: 5px;
    }

    .px-2 {
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-body {
        padding: 1.25rem;
    }

    .card-text {
        line-height: 1.2;
    }

    p.author {
        margin-bottom: 0.25rem;
    }

    .blog-img-div {
        padding-right: 5px;
    }

    /* || POST DETAIL STYLES  */

    .comments-row-div {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    
    .comments-div {
        margin: 0.5rem 0rem 1rem 0rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    /* || CONTACT US  */
    
    textarea#id_message {
        max-width: 100%
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* || NAVBAR STYLES */
    .navbar .container-fluid {
        padding-left: 0;
        padding-right: 0;

    }

    a.navbar-brand {
        margin-right: 0!important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}