{% extends "base.html" %}

{% load i18n %}

{% block content %}

<!-- Container for homepage blog posts -->
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-auto card-body">

                <h2 class="card-title">Accessibility Statement</h2>
                <p class="card-text">Fresh Casts values audience diversity and inclusion, and to that end, we are
                    actively working to further enhance the accessibility of our websites to visitors who use
                    digital assistive technologies like screen readers, screen magnifiers, or voice recognition
                    software. We view accessibility as an ongoing effort.
                </p>
                <br>
                <p class="card-text">
                    We are:
                    <ul>
                        <li>Implementing measures to ensure we meet Levels A and AA of the Web Content Accessibility
                            Guidelines (WCAG) version 2.0;</li>
                        <li>Engaging with accessibility and usability specialists to advise us on our efforts and
                            provide
                            regular third-party testing of our websites; and</li>
                        <li>Reviewing existing measures for potential improvements in performance, speed, and
                            accessibility.
                        </li>
                    </ul>
                    <br>
                    If you have any questions, comments, or concerns, please contact <a
                        href="mailto:freshcastsapp@gmail.com">freshcastsapp@gmail.com</a>.
                </p>

        </div>
    </div>
</div>

{% endblock %}