{% load static %}

<!DOCTYPE html>
<html lang="en" , class="h-100">

<head>
    <title>Fresh Casts</title>
    <!-- Favicon for differing browsers and devices -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/fresh-casts-full-colour-logo.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/fresh-casts-icon16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fresh-casts-icon32x32.png' %}">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rick Atherton">
    <meta name="keywords"
        content="podcast blog site, podcast reviews, fresh podcasts, listen to new shows, share podcasts, comment and like podcasts">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome Kit Tag -->
    <script src="https://kit.fontawesome.com/ac339da8f6.js" crossorigin="anonymous"></script>
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Site Navigation -->
    <nav class="navbar sticky-top navbar-dark">
        <div class="container-fluid">
            <!-- Navbar left side main menu button -->
            <div class="nav-left-button">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleMenu" aria-controls="navbarToggleMenu" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Navbar centralised Fresh Casts logo -->
            <div class="nav-center-logo">
                <a class="navbar-brand" href="/">
                    <img class="navbar-brand-image d-inline-block align-top"
                        src="static/images/fresh-casts-b-and-g-logo_thumbnail.png" width="45" height="45"
                        alt="Fresh Casts logo">Fresh Casts</a>
            </div>
            <!-- Navbar right side user button -->
            <div class="nav-right-user">
                <button class="navbar-user-icon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarUserMenu" aria-controls="navbarUserMenu" aria-expanded="true"
                    aria-label="Toggle user menu">
                    <i class="fa-solid fa-circle-user"></i>
                </button>
            </div>
            <!-- Navbar main menu aligned to nav-left-button -->
            <div class="navbar-collapse collapse" id="navbarToggleMenu">
                <ul class="navbar-nav me-auto mb-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">Join In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="nav-menu">
                    <h5 class="nav-menu-header">explore</h5>
                    <ul class="nav-menu-list">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">latest</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">life</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">music</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">news</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">sport</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">technology</a></li>
                    </ul>
                    <h5 class="nav-menu-header">useful links</h5>
                    <ul class="nav-menu-list">
                        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">contact us</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">about us</a></li>
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">accessibility statement</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Navbar user menu aligned to nav-right-user -->
            <div class="navbar-collapse collapse" id="navbarUserMenu">
                <ul class="navbar-nav me-auto mb-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">Join In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Container to display standard messages to the user -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Main content where independent html templates will act as the different page views -->
    <main class="main-content">
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="w-100">
        <div class="container footer-div">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="footer-header">Fresh Casts</h5>
                    <a href="/">
                        <img class="img-fluid" src="static/images/fresh-casts-b-and-g-logo_thumbnail.png" width="45"
                            alt="Fresh Casts logo">
                    </a>
                </div>
                <div class="col-sm-3">
                    <h5 class="footer-header">explore</h5>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link"
                                aria-current="page">latest</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">life</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">music</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">news</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">sport</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">technology</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="footer-header">useful links</h5>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="{% url 'contact' %}" class="footer-link">contact us</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">about us</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">accessibility<br>
                                statement</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="footer-header">join in</h5>
                    <ul class="footer-list">
                        {% if user.is_authenticated %}
                        <li class="footer-item">
                            <a href="{% url 'account_logout' %}" class="footer-link">sign out</a>
                        </li>
                        {% else %}
                        <li class="footer-item">
                            <a href="{% url 'account_signup' %}" class="footer-link">register</a>
                        </li>
                        <li class="footer-item">
                            <a href="{% url 'account_login' %}" class="footer-link">sign in</a>
                        </li>
                        {% endif %}
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">view profile</a></li>
                        <li class="footer-item"><a href="{% url 'home' %}" class="footer-link">user agreement</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-copyright">
                <p>Fresh Casts © 2022. All rights reserved</p>
            </div>
        </div>
    </footer>
    <!-- Script to automatically remove user alerts after 3 seconds -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
    <!-- Bootstrap jQuery and Popper JavaScript tags -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
</body>

</html>