{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans 'Change Password' %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <h2 class="card-title">{% trans 'Change Password' %}</h2>
                <p class="card-text">Use this page to change your password.<br>
                    When ready, use the button below to submit your changes.
                </p>
                <p class="card-text">
                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <form class="signup" id="signup_form" action="{% url 'account_signup' %}" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input class="form-control" type="hidden" name="{{ redirect_field_name }}"
                            value="{{ redirect_field_name }}" />
                        {% endif %}
                        <div class="input-group">
                            <button class="btn btn-style right" type="submit">{% trans 'Submit' %}</button>
                            <input type="button" name="cancel" value="Cancel" class="anchor-btn btn-style btn-left-margin btn-cancel" onClick="window.location.href='{% url 'home' %}';" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}