{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Contact Us' %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Main container for page content : Contact Fresh Casts -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card-body">
        <!-- Page title -->
        <h2 class="card-title">{% trans 'Contact Us' %}
        </h2>
        <p class="card-text">{% blocktrans %}
          Do you have a question, a concern, or a new idea for Fresh Casts?
          <br>You can fill out the contact form below and we will aim to respond within 24
          hours.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card-body">
        <!-- Form for user to input details and reason for contacting Fresh Casts -->
        <form class="mt-3 text-black" action="{% url 'contact' %}" method="POST" id="contact-form">
          {% csrf_token %}
          {{ form|crispy }}
          <small id="emailHelp" class="form-text text-muted">Rest assured we won't share your details with anyone
            else.
          </small>
          <!-- Button to submit contact form to Fresh Casts -->
          <button type="submit" class="btn btn-style right" value="Send Message">Submit
          </button>
          <!-- Option to cancel if navigated to in error -->
          <input type="button" name="cancel" value="Cancel"
                 class="anchor-btn btn-style btn-left-margin btn-cancel"
                 onClick="window.location.href='{% url 'home' %}';" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}