{% extends "base.html" %}

{% load i18n %}

{% block content %}

<!-- Container for homepage blog posts -->
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-auto card-body">
            <h2 class="card-title">Copyright Statement</h2>
            <br>
            <p class="card-subtitle">Copyright © Fresh Casts 2022 All Rights Reserved</p>
            <br>
            <p class="card-text">All files and information contained in this Website or Blog are copyright by Fresh
                Casts, and may not be duplicated, copied, modified or adapted, in any way without our written
                permission. Our Website or Blog may contain our service marks or trademarks as well as those of our
                affiliates or other companies, in the form of words, graphics, and logos.
            </p>
            <br>
            <p class="card-text">Your use of our Website, Blog or Services does not constitute any right or license for
                you to use our service marks or trademarks, without the prior written permission of Fresh Casts.
            </p>
            <br>
            <p class="card-text">Our Content, as found within our Website, Blog and Services, is protected under United
                Kingdom and foreign copyrights. The copying, redistribution, use or publication by you of any such
                Content, is strictly prohibited. Your use of our Website and Services does not grant you any ownership
                rights to our Content.
            </p>
            <br>
        </div>
    </div>
</div>

{% endblock %}