{% extends 'base.html' %}

{% load i18n %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col post-img-div">
                <!-- Featured image URL -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="static/images/fresh-casts-b-and-g-logo.png" class="img-fluid"
                    alt="Fresh Casts logo as a placeholder image for podcast image">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="img-fluid" alt="Image of the podcast show">
                {% endif %}
            </div>
            <div class="col card-body">
                <!-- Post title -->
                <h2 class="card-title">{{ post.title }}</h2>
                <!-- Post author -->
                <p class="author">Shared By {{ post.author }}</p>
                <!-- Post created on date -->
                <p class="card-text">{{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!--- Post content inside card-text -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <a href="{{ post.podcast_url }}" target="_blank" class="anchor-btn btn-style">Listen</a>
                <br>
                <div class="row justify-content-start">
                    <div class="col-sm-2 col-lg-1 xs-col-width">
                        {% if user.is_authenticated %}
                        <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            {% if liked %}
                            <strong><button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button></strong>
                            {% else %}
                            <strong><button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button></strong>
                            {% endif %}
                        </form>
                        {% else %}
                        <strong><span class="text-secondary"><i class="far fa-heart"></i></span></strong>
                        {% endif %}
                        <strong><span class="text-secondary">{{ post.number_of_likes }}</span></strong>
                    </div>
                    <div class="col-sm-2 col-lg-1 xs-col-width">
                        <strong class="text-secondary">
                            {% with comments.count as total_comments %}
                            <i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="container">
    <div class="row comments-row-div">
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <h3 class="card-title">Comments:</h3>
                {% for comment in comments %}
                <div class="comments-div">
                    <p class="font-weight-bold">
                        {{ comment.username }} wrote:
                    </p>
                    {{ comment.message | linebreaks }}
                    <span class="text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3 class="card-title">Leave a comment:</h3>
                <p>Commenting as: <span class="font-weight-bold">{{ user.username }}</span></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}